* {
  font-family: Departure Mono Nerd Font Propo;
  font-size: 16px
} 

#waybar {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #cdd6f4;
  background: none; 
}

tooltip {
  color: #cdd6f4;
  background: linear-gradient(-45deg, #181825, #1e1e2e, #11111b, #1e1e2e, #181825);
  animation: gradient 7s ease infinite;
  background-size: 400% 400%;
  border-radius: 15px;
}

#workspaces,
#window,
#network,
#wireplumber,
#battery,
#clock,
#cpu,
#memory,
#cava,
#tray,
#mpris,
#power-profiles-daemon,
#custom-notification {
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #1E1D2F; 
  border-bottom: 3px;
  border-style: solid;
  border-color: #f5c2e7;
  transition: 0.3s;
}

#workspaces button {
  transition: 0.3s;
  color: #949cbb;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#workspaces button.focused {
  color: #c6d0f5;
  background: none;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.empty #window {
  background: none;
  border-bottom: 0px;
  transition: 0s;
}
